SAT-Solver/expressions/expr.o
*.o
*.exe
SAT-Solver/expressions/expr.o
*.o
*.o
*.xcuserstate

SAT-Solver/SAT-Solver.xcodeproj/project.xcworkspace/xcuserdata/lois.xcuserdatad/UserInterfaceState.xcuserstate

SAT-Solver/expressions/expr.o
SAT-Solver/expressions/tests/*
